#editor-container
{
  font-family: "Aref Ruqaa";
  font-size: 18px;
  height: 500px;
}
#toolbar-container .ql-font span[data-label="Aref Ruqaa"]::before{
  font-family: "Aref Ruqaa";
}
#toolbar-container .ql-font span[data-label="Mirza"]::before{
  font-family: "Mirza";
}
#toolbar-container .ql-font span[data-label="Roboto"]::before{
  font-family: "Roboto";
}
#toolbar-container .ql-fontspan[data-label="PlumBDL"]::before{
  font-family: "plumbdlregular";
}
.ql-font-mirza {
  font-family: "Mirza";
}

.ql-font-roboto{
  font-family: "Roboto";
}

.ql-font-plumbdl{
  font-family: 'plumbdlregular';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="10px"]::before {
  content: '10px';
  /* font-size: 10px !important; */
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
  content: '12px';
  /* font-size: 12px !important; */
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content: '14px';
  /* font-size: 14px !important; */
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: '16px';
  /* font-size: 16px !important; */
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: '18px';
  /* font-size: 18px !important; */
}

/* .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="72px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="72px"]::before
 {
  content: '72px';
  /* font-size: 72px !important; */
/* } */ */
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="22px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="22px"]::before {
    content: '22px';
}

@font-face {
    font-family: 'plumbdlregular';
    src: url('Fonts/plumbdl-webfont.woff2') format('woff2'),
         url('Fonts/plumbdl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}